<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body background="https://craftunique.com/img/items/turquoise-pla-filament-28ce56.jpg">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid imgur" style="background:url('http://www.shunvmall.com/data/out/228/47462022-turquoise-wallpaper.png')">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home of Art", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("All Poems", "List", "Article", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("All Drawings", "Show", "Drawing", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("All Photos", "Show", "Photo", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Top Art
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Top 4 Stories/Poems", "Top", "Article")</li>
                        <li>@Html.ActionLink("Top 3 Drawings", "Top", "Drawing")</li>
                        <li>@Html.ActionLink("Top 3 Photos", "Top", "Photo")</li>
                    </ul>
                </li>
            </ul>



            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer class="pull-right">
            <p>&copy; @DateTime.Now.Year - WeArtists</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
