@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                My art
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/Article/List?user=@User.Identity.GetUserName()">Stories/Poems</a></li>
                <li><a href="/Drawing/Show?user=@User.Identity.GetUserName()">Drawings</a></li>
                <li><a href="/Photo/Show?user=@User.Identity.GetUserName()">Photos</a></li>           
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Upload
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Poems", "Create", "Article")</li>
                <li>@Html.ActionLink("Pictures", "Upload", "Drawing")</li>
                <li>@Html.ActionLink("Photos", "Upload", "Photo")</li>
            </ul>
        </li>
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
