@model Blog.Models.Photo

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <article>
        <header>
            <h2>
                @Model.Title
            </h2>
        </header>
        <div>
            <img class="img-responsive" src="@Model.ImageUrl" alt="@Model.Title">
        </div>

        <small class="author">
            author: @Model.Artist.FullName
        </small>
        <footer class="pull-right">
            @if (User.IsInRole("Admin") || Model.IsArtist(User.Identity.Name))
            {
                @Html.ActionLink("Delete", "Delete", "Photo", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
            }

            @Html.ActionLink("Back", "Index", "Photo", null, new { @class = "btn btn-default btn-xs" })
        </footer>
    </article>
</div>
<hr />

