@model List<Blog.Models.Article>

@{
    ViewBag.Title = "List";
}

<div class="container">
    @if (!Model.Any() || Model.Count < 2)
    {
        <h2 class="text-center">Last page Reached!</h2>
    }
    else
    {
        <h2 class="text-center">All Stories/Poems - Page:@ViewBag.CurrentPage</h2>
    }
    <div class="row">
        @foreach (var article in Model)
        {
            <div class="col-sm-6">
                <article>
                    <header>
                        <h2>
                            @*  @Html.ActionLink(@article.Title, "Details", "Article", new { @id = article.Id },  null)  *@
                            <a href="/Article/Details/@article.Id"><span style="color:sandybrown">@article.Title</span></a>
                        </h2>
                    </header>
                    <div class="well">
                        <p>
                            @article.Content
                        </p>
                        </div>
                        @Html.ActionLink("Like", "Like", "Article", new { @id = article.Id }, new { @class = "btn btn-primary" })
                        <p>
                            Likes: @article.Likes
                        </p>
                        <a style="color:brown" href="/Article/List/?user=@article.Author.FullName">@article.Author.FullName</a>
                        <footer class="pull-right">
                            <small class="author">
                                --author @article.Author.FullName
                            </small>
                        </footer>
</article>
            </div>
        }
    </div>
</div>
@{ 
    var currUserQuery = Request.QueryString["user"];
}
<p class="text-center">
    <a href="/Article/List?page=@(ViewBag.CurrentPage-1)@(currUserQuery!=null ?"&user=" + currUserQuery:string.Empty)" class="btn btn-success @(ViewBag.CurrentPage == 1 ? "disabled" : string.Empty)">Prev <<</a>
    <a href="/Article/List?page=@(ViewBag.CurrentPage+1)@(currUserQuery!=null ?"&user=" + currUserQuery:string.Empty)" class="btn btn-success @(!Model.Any() || Model.Count<2 ? "disabled" : string.Empty)">Next >></a>
</p>
<hr />
